/* сделано вмессте с   foFF4ik2 */
* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
table {
  width: 520px;
  height: 560px;
  margin: 20px auto;
  border-spacing: unset;
  text-align: center;
}
td {
  border: 4px solid black;
}
.t1-2 {
  width: 33%;
  height: 17%;
}
.t3-4,
.t5-6 {
  width: 29%;
  height: 17%;
}
.t5-6 {
  background-color: yellow;
}
.t7 {
  width: 9%;
  height: 17%;
}
.t8 {
  width: 14%;
  height: 23%;
}
.t9-10 {
  width: 48%;
  height: 46%;
  background-color: #ff4499;
}
.t12-13 {
  width: 29%;
  height: 23%;
  background-color: yellow;
}
.t14-21 {
  width: 9%;
  height: 58%;
}
.t35-42 {
  width: 9%;
  height: 25%;
  background-color: #ff4499;
}
.t15-25 {
  width: 14%;
  height: 35%;
}
.t29-36 {
  width: 14%;
  height: 25%;
  background-color: yellow;
}
.t19,
.t20 {
  width: 14.5%;
  height: 23%;
}
.t26-27 {
  width: 29%;
  height: 12%;
}
.t33-34 {
  width: 29%;
  height: 25%;
  background-color: #1199ff;
}
.t25 {
  width: 24%;
  height: 12%;
}
.t32 {
  width: 24%;
  height: 12%;
}
.t39 {
  width: 24%;
  height: 13%;
  background-color: black;
}
.t37-38 {
  width: 24%;
  height: 13%;
}
.t23-30 {
  width: 20%;
  height: 24%;
  background-color: black;
}
.t24-31 {
  width: 4%;
  height: 24%;
  background-color: black;
}
